@font-face {
  font-family: "TITLE";
  font-display: swap;
  src: url("../fonts/18805.woff") format("woff"), url("../fonts/18805.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gotham";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 10px;
}

body {
  color: #fff;
  background-color: #0d0b0c;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 100;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background: #fff;
  border: 2px solid #ed1c24;
  border-radius: 2rem;
  max-width: 100%;
  padding: 70px 30px 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  text-align: center;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 30px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  width: 30px;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup__title {
  font-size: 40px;
  color: #000;
  margin: 0rem 0rem 0.7em 0rem;
}

.form__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-size: 20px;
  margin: 0rem 0rem 1em 0rem;
}

.form__input {
  border: 0.2rem solid #ed1c24;
  padding: 20px 30px;
  font-size: 2.4rem;
  border-radius: 2rem;
}

.form__button button {
  margin: 0rem 0rem 0rem 0rem;
}

.header {
  position: relative;
}

.header__content {
  padding: 50px 0px 20vmax 0px;
  position: relative;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  margin: 0px 0px 350px 0px;
}

.header__nav-item {
  margin: 0px 30px 0px 0px;
  color: inherit;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header__nav-item:hover {
  opacity: 0.6;
}

.header__title {
  font-family: TITLE;
  font-size: 15rem;
  position: absolute;
  top: 200px;
  left: 50px;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.header__title span {
  display: block;
  text-align: right;
  padding: 0px 0px 0px 200px;
}

.header__btn {
  margin: 0px 0px 0px 50px;
  font-size: 2rem;
  padding: 1em 3.5em;
  border-radius: 40px;
  background-color: #ed1c24;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  cursor: pointer;
  color: inherit;
  position: relative;
  z-index: 100;
}

.header__btn:hover {
  opacity: 0.6;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -100;
}

.header__bg img {
  max-width: 100vmax;
}

.footer__text {
  font-size: 4rem;
  text-align: center;
}

.footer__text:last-child {
  margin: 30px 0px 0px 0px;
  font-size: 2rem;
  line-height: 1.3;
}

.footer__text:last-child span {
  color: #ed1c24;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.maps {
  position: relative;
}

.maps__title {
  margin: 0px 0px 50px 0px;
  font-size: 4rem;
  text-align: center;
}

.maps__img {
  text-align: center;
}

.maps__img img {
  max-width: 1000px;
}

.maps__text {
  position: absolute;
  font-size: 4rem;
  left: 50%;
  bottom: 120px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.rev {
  padding: 0px 0px 70px 0px;
}

.rev__title {
  text-align: center;
  font-size: 4rem;
  margin: 0px 0px 50px 0px;
}

.rev__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 1000px;
  margin: 0px auto;
}

.rev__inner::after {
  content: "";
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ed1c24;
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
}

.rev__inner-wrap {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.rev__inner-item {
  margin: 0px 20px 40px;
}

.about__content {
  padding: 0px 0px 150px 0px;
}

.about__title {
  text-align: center;
  font-size: 3rem;
  margin: 0px 0px 60px 0px;
  text-transform: uppercase;
}

.about__text {
  max-width: 700px;
  font-size: 2rem;
  line-height: 1.3;
  margin: 0px auto;
  padding: 20px 140px 20px 20px;
  border: 1px solid #fff;
  position: relative;
}

.about__img {
  position: absolute;
  right: -110px;
  bottom: -100px;
}

.about__img img {
  max-width: 200px;
}

.rev__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rev__box {
  width: 600px;
  height: 300px;
  background-color: #1a1a1a;
  margin: 0px 0px 20px 0px;
}

.rev__text {
  font-size: 2rem;
  margin: 0px 0px 30px 0px;
}

.rev__btn {
  text-align: center;
}

.rev__btn a {
  margin: 0px 0px 0px 0px;
}

.price__content {
  text-align: center;
  font-size: 3rem;
  margin: 0px auto 50px auto;
}

.price__content span {
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0px 0px 20px 0px;
}

.tarif__content {
  max-width: 900px;
  padding: 0px 0px 100px 0px;
}

.tarif__title {
  font-size: 3rem;
  text-align: center;
  margin: 0px 0px 2em 0px;
}

.tarif__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inner-tarif__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.inner-tarif__title {
  font-size: 2.6rem;
  margin: 0px 0px 1em 0px;
}

.inner-tarif__text {
  font-size: 1.6rem;
  color: #fff;
  background: #ed1c24;
  border-radius: 1.5em;
  padding: 2em 2em 5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inner-tarif__btn {
  color: #1a1a1a;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 10px #fff;
          box-shadow: 0px 0px 20px 10px #fff;
  border-radius: 1em;
  font-size: 2rem;
  padding: 1em 2.5em;
  position: relative;
  top: -30px;
  cursor: pointer;
}

.inner-tarif__price {
  color: #ed1c24;
  font-size: 4rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content {
  padding: 0px 0px 200px 0px;
}

.form__title {
  text-align: center;
  font-size: 4rem;
  margin: 0px 0px 1em 0px;
}

.form__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 4rem;
  border-radius: 2rem;
  background: #fff;
}

.form__inner-title {
  text-align: center;
  font-size: 3rem;
  color: #000;
  margin: 0px 0px 3rem 0px;
}

.form__inner-item {
  margin: 0px 0px 20px 0px;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  border: 2px solid #000;
  border-radius: 20px;
}

.form__inner .btn {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  background: #ed1c24;
  border-radius: 2rem;
  padding: 2em 4em;
}

.form__bg {
  position: absolute;
  z-index: -10;
  left: -180px;
  bottom: -90px;
}

.form__bg img {
  max-width: 30rem;
}

.aut {
  text-align: center;
}

.aut img {
  max-width: 100%;
}

.aut_title {
  text-align: center;
  font-size: 4rem;
}

.btn-form,
.btn-form-two,
.btn-form-three {
  cursor: pointer;
  margin: 0rem auto;
}

.form__hide {
  display: none;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  font-size: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  z-index: 120;
}

.form__hide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }

  .tarif__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .inner-tarif__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}